<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crackingMBA.training">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:name=".VideoApplication"
        android:allowBackup="true"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:logo="@drawable/applogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity
            android:name=".LoginActivity"
            android:label="Login CrackingMBA"
            />
        <activity
            android:name=".LogoutActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".RegistrationActivity"
            android:label="Registration"/>
        <activity
            android:name=".EditProfileActivity"
            android:label="Edit Profile"/>
        <activity
            android:name=".AskQuestionActivity"
            android:label="Ask Question"/>
        <activity
            android:name=".ShowAnswerActivity"
            android:label="My Questions"/>
        <activity
            android:name=".MockTestTopicsActivity"
            android:label="Mock Tests"/>
        <activity
            android:name=".MockTestTestsActivity"
            android:label="Mock Tests"/>
        <activity
            android:name=".YoutubeVideoActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="landscape">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".TargetVideoActivity"/></activity>
        <activity
            android:name=".StartMockTestActivity"
            android:label="Start Mock Test"/>
        <activity
            android:name=".SubmitMockTestActivity"
            android:label="Submit Mock Tests"/>
        <activity
            android:name=".MockTestResultActivity"
            android:label="Mock Tests Results"/>
        <activity
            android:name=".MockTestReviewAnswersActivity"
            android:label="Mock Test Review Answer"/>
        <activity
            android:name=".OTPValidationActivity"
            android:label="OTP Validation"/>
        <activity
            android:name=".ForgotPasswordActivity"
            android:label="Forgot Password"/>
        <activity
            android:name=".ChangePasswordActivity"
            android:label="Change Password"/>
        <activity
            android:name=".DashboardActivity"
            android:icon="@drawable/home"
            android:logo="@drawable/home"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".VideoSubCategoryActivity"
            android:label="@string/title_activity_video_sub_category"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WeeksActivity"
            android:label="@string/title_activity_weeks"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TargetVideoActivity"
            android:label="@string/title_activity_target_video"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>