<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.crackingMBA.training">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <application
        android:name=".VideoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:overrideLibrary="com.payumoney.sdkui"
        tools:replace="android:allowBackup,android:theme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".ShowAnswerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="My Questions" />
        <activity
            android:name=".MockTestTopicsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Mock Tests" />
        <activity
            android:name=".MockTestTestsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Mock Tests" />
        <activity
            android:name=".YoutubeVideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:value=".TargetVideoActivity" />
        </activity>
        <activity
            android:name=".StartMockTestActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Start Mock Test" />
        <activity
            android:name=".SubmitMockTestActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Submit Mock Tests" />
        <activity
            android:name=".MockTestResultActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Mock Tests Results" />
        <activity
            android:name=".MockTestReviewAnswersActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Mock Test Review Answer" />
        <activity
            android:name=".DashboardActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:icon="@mipmap/ic_launcher"
            android:logo="@mipmap/ic_launcher"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".VideoSubCategoryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_video_sub_category"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WeeksActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_weeks"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TargetVideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_target_video"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ExamDetailsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="MBA Entrance Exams"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VocabGameActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Vocabulary Games"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MotivationVideosActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Motivation and Guidance"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MotivationYoutubeDetailsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Focus Prep"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ForumCommentsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Forum Post Comments"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".LoginSignupActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Login/SignUp User"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Login User"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewPostActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Submit a new post"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignupActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Submit a new post"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PreparationContentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Preparation Content"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PreparationDetailsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Preparation Details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FeedbackActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Hi There!"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PreparationHLContentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Course Study Material"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SupportGuidanceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Support"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewPDFDetailsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Article Details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CourseEnrollmentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Course Enrollment"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".PaymentSuccessActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Payment Status"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DailyDoseVideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Daily Dose!"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MockTestAnalysisActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MiniTestActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Mini Tests"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LeaderboardActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Leaderboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".FlashCardsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Flash Cards"
            android:theme="@style/AppTheme.NoActionBar" ></activity>
    </application>

</manifest>